# Node modules
node_modules/

# Cypress output
cypress/screenshots/
cypress/videos/
cypress/reports/

# Logs
*.log

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Others
package-lock.json
